  .info {
    border: 1px solid #DFE5EC;
    background: white;
    display: flex;
    margin: 20px 0 20px 0;
    padding: 20px;
    justify-content: center;
    border-radius: 5px;
    }
    .spin {
      display: flex !important;
      justify-content: center;
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
    }
  @media screen and (max-width: 959px) {
    .info {
      margin: 10px 0 10px 0;
    }
  }
