$main-font-size: 12px;
$main-text-color: black;
$main-font-family: 'Open Sans', sans-serif;
$elements-main-background: white;
$active-color: #2196F3;

$large-font-size: 24px;
$span-title-color: #A0B0B9;